<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="minLogLevel" value="Trace"/>
    <time type="FastUTC"/>
    <targets>
        <target name="console" xsi:type="ColoredConsole" layout="[${uppercase:${level}}][${logger:shortName=true}] ${message} ${exception:format=tostring}"/>
        <target name="file" xsi:type="File"
                fileName="${basedir}/logs/${processname:whenEmpty=authserver}_${date:format=yyyyMMdd}_${processid}.log"
                keepFileOpen="false"
                concurrentWrites="true"
                layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>
    </targets>
    <rules>
        <logger name="*" writeTo="console,file" minLevel="${var:minLogLevel}"/>
    </rules>
</nlog>
